<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>About</title>
        <meta name="robots" content="index,follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="DownTube.Live Download YouTube Videos and mp3 for free, High quality youtube videos and mp3 audios, full-hd sound and video.">
        <link rel="stylesheet" href="/css/uikit.min.css" />
        <link rel='stylesheet' href="/css/about.css">
        <link rel='stylesheet' href="/css/animate.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">
        <script src="/js/uikit.min.js"></script>
        <script src="/js/uikit-icons.min.js"></script>
    </head>
    <body>
        <nav class="uk-navbar-container uk-margin" uk-navbar>
            <div class="uk-navbar-center">
                <div class="uk-navbar-center-left"></div>
                <div></div>
                <a class="uk-navbar-item uk-logo" id='domain'style="font-family: 'Monoton', cursive;"; href="#">DownTube.Live</a>
                <div></div>
            </div>
    </nav>
        <div class="uk-container">
            <div class="uk-flex uk-flex-center">
                <div></div>
                <div>
                    <div class="uk-card uk-card-default animated fadeInUp">
                        <div class="uk-card-header">
                            <div class="uk-grid-small uk-flex uk-flex-center">
                                <div>
                                </div>
                                <div>
                                    <img id='me'class="uk-border-circle"  src="/images/me.jpg">
                                </div>
                                <div></div>
                            </div>
                            <div class="uk-width-expand animated fadeIn delay-1s">
                                <div class="uk-flex uk-flex-center">
                                    <div></div>
                                    <div style="text-align: center; margin-top: 5px;">
                                        <h3 class="uk-card-title uk-margin-remove-bottom">Anurag Verma</h3>
                                        <p class="uk-text-meta uk-margin-remove-top">Full Stack Dev</p>
                                    </div>
                                    <div></div>
                                </div>         
                            </div>
                        </div>
                        <div  class="uk-card-body">
                            <p class="about animated fadeInDown delay-1s"><span>HI&nbsp;</span>Welcome to <a href='https://downtube.live'>DownTube.Live</a> :) I hope you like it.
                            But this websites has it's limitaions too i.e you can download all quality videos but can't download videos whose length is greater than 7mins.
                            Sorry :( This all due to server limitations. Maybe in future I'll extend the limit :)
                            <p style="font-size: 10px;">Note* Downloading of audio limited to 20mins.</p>
                            </p>
                        </div>
                        <div class="uk-card-footer">
                            <a href="https://github.com/anurag0608" class="uk-button uk-button-text">Follow me on GitHub</a>
                        </div>
                    </div>
                </div>
                <div></div>
            </div>
        </div>
        
    </body>
</html>
